includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    treatPhpDocTypesAsCertain: false

    # Level 9 is the highest level
    level: 4

    ignoreErrors:
#        - "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
